body{
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
}
.navbar-brand {
padding: 0px;
}
.navbar-brand>img {
height: 100%;
padding: 15px;
width: auto;
}
.example2 .navbar-brand>img {
padding: 7px 15px;
}
.slider{
width: 100%;
height: 250px;
}
.slider img{
width: 100%;
height: 250px;	
}
#slider {
position: relative;
overflow: hidden;
}

#slider ul {
position: relative;
margin: 0;
padding: 0;
height: 200px;
list-style: none;
}

#slider ul li {
position: relative;
display: block;
float: left;
margin: 0;
padding: 0;
width: 100%;
height: 250px;
text-align: center;
line-height: 300px;
}

a.control_prev, a.control_next {
position: absolute;
top: 40%;
z-index: 999;
display: block;
padding: 1% 1%;
width: auto;
height: auto;
background: #4cae4c;
color: #fff;
text-decoration: none;
font-weight: 600;
font-size: 12px;
opacity: 0.8;
cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
opacity: 1;
-webkit-transition: all 0.2s ease;
}

a.control_prev {
border-radius: 0 2px 2px 0;
}

a.control_next {
right: 0;
border-radius: 2px 0 0 2px;
}
.btn-pcategories {
color: #4cae4c;
background-color: transparent;
border-color: #4cae4c;
}
.catpanelUl{
list-style: none;

}
.catpanelUl li{
padding: 10px;
border: 1px solid #ccc;
width: 150px;
}
.catpanelUl li:hover{
padding: 10px;
border: 1px solid #4cae4c;
background: #fff;
color: #4cae4c !important;
}
.catpanelUl li a{
text-decoration: none;
color: #000;

}
.catpanelUl li a:hover{
text-decoration: none;
color: #4cae4c;

}
.subcat{
list-style: none;
margin: 0;
padding: 0;
position: absolute;
top: 0px;
left: 200px;
border-left: none;
width: 100%;
padding: 10px;
float: center;
background: #fff;
}
.subcat li{
padding: 10px;
border: 1px solid #ccc;
}
.subcat li a{
text-decoration: none;
}
.catpanel{
padding: 10px;
position: absolute;
z-index: 999;
background: #fff;
}
.rotate180{
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg); 
-o-transform:rotate(180deg);
}
.form-control{

}
.input-group{
color: #4cae4c !important;
border: 1px solid #4cae4c;
border-radius: 4px;
}
.userInfoBar{
display: flex;
padding: 5px;
margin-top: -14px;
}
.userImage{
background: #fff;
padding: 10px;
border: 1px solid #4cae4c;
border-radius: 5px;
margin-right:5px; 
color: #4cae4c;
}
.userImage img{
width: 30px;
height: 30px;
border-radius: 100px;
border: 1px solid #4cae4c;
}
.cartMenu{
background: #fff;
padding: 10px;
border: 1px solid #4cae4c;
border-radius: 5px;
margin-right:5px; 
color: #4cae4c;
}
.btn-logIn{
color: #4cae4c;
background-color: transparent;
border-color: #4cae4c;
margin-top: 9px;
margin-left: -7px;
}
.btn-logOut{
color: #C9302C;
background-color: transparent;
border-color: #C9302C;
margin-top: 9px;
margin-left: -7px;
}
.large{
font-size: 32px;
position: absolute;
top: 9px;
}
.cartNumber{
position: absolute;
right: 26px;
font-size: 30px;
top: 5px;
}
.sortBar{
text-align: center;
background: #ccc;
padding: 15px 10px;
}
.item{
width: 100%;
border: 4px solid #ccc;
border-radius: 5px;
padding: 10px;
}
.item img{
height: 270px;
}
.plebel h4{

}
.plebel h5{

}
.plebel a{
color: #fff;
}
.plebel{
background: #4cae4c;
padding: 1px 10px;
position: absolute;
top: 68%;
width: 88%;
color: #fff;
height: 87px;	
}
.seeMore{

}
.seeMore img{
width: 100%;
height: auto;
}
.seeMore button{
position: relative;
top: -35px;
left: 0;
right: 0;
margin: 0 auto;	
}
.btn-seemore{
color: #fff;
background-color: #C9302C;
border-color: #C9302C;	
}
.btn-seemore:hover{
color: #C9302C;
background-color: #fff;
border-color: #C9302C;	
}
.navbar-green{
background: #4cae4c;
}
.navbar-green a{
color: #fff;
}
.nav > li > a:hover,
.nav > li > a:focus {
text-decoration: none;
background-color: #fff;
color: #4cae4c;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
color: #777;
text-decoration: none;
cursor: not-allowed;
background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
background-color: #fff;
color: #4cae4c;
border-color: #337ab7;
}
.footer{
background: #eee;
padding: 20px;
}
.block-title{

}
.block-content{

}
.block-content ul{
padding: 0;
list-style: none;
}
.block-content ul li{
padding: 5px 0;	
}
.social {
height: 36px;
position: relative;
top: 90px;
left: 25px;
}
.social li {
display: block;
height: 4em;
line-height: 4em;
margin: -1.4em;
position: absolute;
-webkit-transition: -webkit-transform .7s;
-moz-transition: -moz-transform .7s;
-ms-transition: -ms-transform .7s;
-o-transition: -o-transform .7s;
transition: transform .7s;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
text-align: center;
width: 4em;

}
.social a {
color: #fffdf0;
display: block;
height: 4em;
line-height: 6em;
text-align: center;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
width: 4em; 

}
.social li:hover {
-webkit-transform: scale(1.3,1.3) rotate(45deg);
-moz-transform: scale(1.3,1.3) rotate(45deg);
-ms-transform: scale(1.3,1.3) rotate(45deg);
-o-transform: scale(1.3,1.3) rotate(45deg);
transform: scale(1.3,1.3) rotate(45deg);
}
.facebook {
background: #155b9d;
left: 0;
top: 0%;
}

.twitter {
background: #1a9ec4;
bottom: 0;
left: 25%;
}
.pinterest {
background: #e11a30;
left: 50%;
top: 0%;
}
.behance {
background: #3f7aa3;
bottom: 0;
left: 75%;
}
.weaccept-img{
width: 75px !important;
margin: 0 0 12px 0;

}
.notHeader{
color: #fff;
margin: 0;
}
.notHeader span{

}
.notHeader i{

}
.animate-menu-push {
left: 0;
position: relative;
transition: all 0.3s ease; }
.animate-menu-push.animate-menu-push-right {
left: 200px; }
.animate-menu-push.animate-menu-push-left {
left: -200px; }

.animate-menu {
position: fixed;
top: 0;
width: 200px;
height: 100%;
transition: all 0.3s ease; }

.animate-menu-left {
left: -200px; }
.animate-menu-left.animate-menu-open {
left: 0; }

.animate-menu-right {
right: -200px; }
.animate-menu-right.animate-menu-open {
right: 0; }

.sidebar-menu {
list-style: none;
margin: 0;
padding: 0;
background-color: #4cae4c; 
min-height: 700px;
}
.sidebar-menu > li {
position: relative;
margin: 0;
padding: 0; 
}
.sidebar-menu > li > a {
padding: 12px 5px 12px 15px;
display: block;
border-left: 3px solid transparent;
color: #fff; }
.sidebar-menu > li > a > .fa {
width: 20px; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
color: #fff;
background: #18662d;
border-left-color: #fff; }
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
margin-top: 3px;
margin-right: 5px; }
.sidebar-menu li.sidebar-header {
padding: 10px 25px 10px 15px;
font-size: 12px;
color: #fff;
background: #18662d; }
.sidebar-menu li > a > .fa-angle-left {
width: auto;
height: auto;
padding: 0;
margin-right: 10px;
margin-top: 3px; }
.sidebar-menu li.active > a > .fa-angle-left {
transform: rotate(-90deg); }
.sidebar-menu li.active > .sidebar-submenu {
display: block; }
.sidebar-menu a {
color: #b8c7ce;
text-decoration: none; }
.sidebar-menu .sidebar-submenu {
display: none;
list-style: none;
padding-left: 5px;
margin: 0 1px;
background: #2c3b41; }
.sidebar-menu .sidebar-submenu .sidebar-submenu {
padding-left: 20px; }
.sidebar-menu .sidebar-submenu > li > a {
padding: 5px 5px 5px 15px;
display: block;
font-size: 14px;
color: #8aa4af; }
.sidebar-menu .sidebar-submenu > li > a > .fa {
width: 20px; }
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-left,
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
width: auto; }
.sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
color: #fff; }
.top-head{
margin-bottom: 0px;
}
.nomarginNopadding{
margin: 0px;
padding:0px;
}
.dashMainContent{
min-height: 700px;
border-top: 5px solid #18662d;
border-right: 5px solid #18662d;
border-left: 5px solid #18662d;
border-bottom: none;
width: 1130px;
padding: 20px !important;
}
.dashFooter{
text-align: center;
padding: 10px;
background: #18662d;
color: #fff;	
}
.dashFooter a{
color: #f00;
}
.navbar {
border-radius: 0;
}
#myscroll::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
background-color: #F5F5F5;
border-radius: 10px;
}

#myscroll::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

#myscroll::-webkit-scrollbar-thumb
{
border-radius: 0px;
background-color: #FFF;
background-image: -webkit-gradient(linear,
40% 0%,
75% 84%,
from(#4D9C41),
to(#19911D),
color-stop(.6,#54DE5D))
}
.flash-message{
position: absolute;
top: 0;
z-index: 9;
left: 0;
right: 0;
text-align: center;
color: #fff;
transition-property: all;
transition-duration: .5s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.siteLoader{
width: 100%;
height: 100%;
margin: auto auto;
text-align: center;
top: 0;
left: 0;
right: 0;
z-index: 1000000;
margin-top: 50vh;
}
.siteLoader img{
width: 50px;
height: 50px;
}
.mainSite{
display: none;
}
.panel-default>.panel-heading {
color: #fff;
background-color: #4CAE4C;
border-color: #4CAE4C;
}
.panel-default>.panel-heading a{
color: #f00;
}
.menuarrow{

}
.singlePageItemContainer{
    height: 100px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 12px 0 0 0;
}
.singlePageItemContainer img {
height: 80px;
}
.singlePageItemContainer h4 {
    margin: 0;
}
.heading-shade{
	    background: #449D44;
    color: #fff;
    padding: 5px 5px 5px 10px;
    font-weight: 300;
}